<div class="license">
  <div class="ads-container license--container">
  <div class="ads-grid ads-grid-12 license--wrapper">
    <div class="links">
      <a href="/pages/desktop-license">Desktop EULA <i class="material-icons">arrow_right_alt</i></a>
      <a href="/pages/web-font-license">Web Font EULA <i class="material-icons">arrow_right_alt</i></a>
      <a href="/pages/demo-license">Demo EULA <i class="material-icons">arrow_right_alt</i></a>
    </div>
    {{ page.content }}
  </div>
  </div>
</div>

