<div class="avantsans-intro">
    <div class="ads-container">
        <h2>Avant Sans</h2>
        <div class="type--details">
            <div class="ads-grid ads-grid-6">
                <p class="description">An all-purpose, everyday, variable sans-serif inspired some of the world's most influencial and used typefaces. Designed for every single design need from branding and print to product and UI design.</p>
            </div>
            <div class="type--details--info ads-grid ads-grid-6">
                <div>
                    <span>9</span>
                    <p>Weights</p>
                </div>
                <div>
                    <span>241</span>
                    <p>Characters</p>
                </div>
                <div>
                    <span>41kb</span>
                    <p>TTF Variable</p>
                </div>
                <div>
                    <span>18kb</span>
                    <p>WOFF Variable</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ads-container discovery">
    <div class="ads-grid  ads-grid-5 discovery--hierarchy">
        <div class="details-wrapper">
            <div class="details">
                <span>Avant Sans</span>
                <span>&mdash; Weights</span>
            </div>
            <p class="type-thin">100 – Thin</p>
            <p class="type-ultralight">200 – UltraLight</p>
            <p class="type-light">300 – Light</p>
            <p class="type-regular">400 – Regular</p>
            <p class="type-medium">500 – Medium</p>
            <p class="type-semibold">600 – SemiBold</p>
            <p class="type-bold">700 – Bold</p>
            <p class="type-extrabold">800 – ExtraBold</p>
            <p class="type-black">900 – Black</p>
        </div>
    </div>
    <div class="ads-grid  ads-grid-7 discovery--hero" style="background-image: url({{'avant_foundry-scattered-pattern.svg' | asset_url }})">
        {% comment %} <img src="{{ 'avant_sans-variable-font-display.svg' | asset_url }}" /> {% endcomment %}
            <span class="type-thin">Aa</span>
            <span class="type-ultralight">Aa</span>
            <span class="type-light">Aa</span>
            <span class="type-regular">Aa</span>
            <span class="type-medium">Aa</span>
            <span class="type-semibold">Aa</span>
            <span class="type-bold">Aa</span>
            <span class="type-extrabold">Aa</span>
            <span class="type-black">Aa</span>
    </div>
</div>

<div class="characters ads-container">
    <div class="characters--display uppercase ads-grid ads-grid-6">
        <h2 class="characters--title">Uppercase</h2>
        <div class="characters--display-wrapper">
            <div class="display">A</div>
            <div class="display">B</div>
            <div class="display">C</div>
            <div class="display">D</div>
            <div class="display">E</div>
            <div class="display">F</div>
            <div class="display">G</div>
            <div class="display">H</div>
            <div class="display">I</div>
            <div class="display">J</div>
            <div class="display">K</div>
            <div class="display">L</div>
            <div class="display">M</div>
            <div class="display">N</div>
            <div class="display">O</div>
            <div class="display">P</div>
            <div class="display">Q</div>
            <div class="display">R</div>
            <div class="display">S</div>
            <div class="display">T</div>
            <div class="display">U</div>
            <div class="display">V</div>
            <div class="display">W</div>
            <div class="display">X</div>
            <div class="display">Y</div>
            <div class="display">Z</div>
        </div>
    </div>
    <div class="characters--display lowercase ads-grid ads-grid-6">
        <h2 class="characters--title">Lowercase</h2>
        <div class="characters--display-wrapper">
            <div class="display">a</div>
            <div class="display">b</div>
            <div class="display">c</div>
            <div class="display">d</div>
            <div class="display">e</div>
            <div class="display">f</div>
            <div class="display">g</div>
            <div class="display">h</div>
            <div class="display">i</div>
            <div class="display">j</div>
            <div class="display">k</div>
            <div class="display">l</div>
            <div class="display">m</div>
            <div class="display">n</div>
            <div class="display">o</div>
            <div class="display">p</div>
            <div class="display">q</div>
            <div class="display">r</div>
            <div class="display">s</div>
            <div class="display">t</div>
            <div class="display">u</div>
            <div class="display">v</div>
            <div class="display">w</div>
            <div class="display">x</div>
            <div class="display">y</div>
            <div class="display">z</div>
        </div>
    </div>
    <div class="characters--display accented-upper ads-grid ads-grid-6">
        <h2 class="characters--title">Accented Uppercase</h2>
        <div class="characters--display-wrapper">
            <div class="display">À</div>	
            <div class="display">Á</div>	
            <div class="display">Â</div>	
            <div class="display">Ã</div>	
            <div class="display">Ä</div>	
            <div class="display">Å</div>	
            <div class="display">Æ</div>	
            <div class="display">Ç</div>	
            <div class="display">È</div>	
            <div class="display">É</div>	
            <div class="display">Ê</div>	
            <div class="display">Ë</div>	
            <div class="display">Ì</div>	
            <div class="display">Í</div>	
            <div class="display">Î</div>	
            <div class="display">Ï</div>
	        <div class="display">Ð</div>
            <div class="display">Ł</div>	
            <div class="display">Ñ</div>	
            <div class="display">Ò</div>	
            <div class="display">Ó</div>	
            <div class="display">Ô</div>	
            <div class="display">Õ</div>	
            <div class="display">Ö</div>
            <div class="display">Œ</div>	
            <div class="display">Ø</div>
            <div class="display">Š</div>	
            <div class="display">Ù</div>	
            <div class="display">Ú</div>	
            <div class="display">Û</div>	
            <div class="display">Ü</div>	
            <div class="display">Ý</div>
            <div class="display">Ÿ</div>
            <div class="display">Ž</div>	
            <div class="display">Þ</div>	
        </div>
    </div>
    <div class="characters--display accented-lower ads-grid ads-grid-6">
        <h2 class="characters--title">Accented Lowercase</h2>
        <div class="characters--display-wrapper">
            <div class="display">À</div>	
            <div class="display">Á</div>	
            <div class="display">Â</div>	
            <div class="display">Ã</div>	
            <div class="display">Ä</div>	
            <div class="display">Å</div>	
            <div class="display">Æ</div>	
            <div class="display">Ç</div>	
            <div class="display">È</div>	
            <div class="display">É</div>	
            <div class="display">Ê</div>	
            <div class="display">Ë</div>	
            <div class="display">Ì</div>	
            <div class="display">Í</div>	
            <div class="display">Î</div>	
            <div class="display">Ï</div>
	        <div class="display">Ð</div>
            <div class="display">Ł</div>	
            <div class="display">Ñ</div>	
            <div class="display">Ò</div>	
            <div class="display">Ó</div>	
            <div class="display">Ô</div>	
            <div class="display">Õ</div>	
            <div class="display">Ö</div>
            <div class="display">Œ</div>	
            <div class="display">Ø</div>
            <div class="display">Š</div>	
            <div class="display">Ù</div>	
            <div class="display">Ú</div>	
            <div class="display">Û</div>	
            <div class="display">Ü</div>	
            <div class="display">Ý</div>
            <div class="display">Ÿ</div>
            <div class="display">Ž</div>	
            <div class="display">Þ</div>	
        </div>
    </div>
    <div class="characters--display number ads-grid ads-grid-6">
        <h2 class="characters--title">Numbers</h2>
        <div class="characters--display-wrapper">
            <div class="display">1</div>	
            <div class="display">2</div>	
            <div class="display">3</div>	
            <div class="display">4</div>	
            <div class="display">5</div>	
            <div class="display">6</div>	
            <div class="display">7</div>	
            <div class="display">8</div>	
            <div class="display">9</div>	
            <div class="display">0</div>	
        </div>
    </div>
    <div class="characters--display math-symbols ads-grid ads-grid-6">
        <h2 class="characters--title">Math Symbols</h2>
        <div class="characters--display-wrapper">
            <div class="display">+</div>	
            <div class="display">-</div>	
            <div class="display">×</div>	
            <div class="display">÷</div>	
            <div class="display">=</div>	
            <div class="display">≠</div>	
            <div class="display">~</div>	
            <div class="display">≈</div>	
            <div class="display">¬</div>	
            <div class="display"><</div>	
            <div class="display">></div>	
            <div class="display">≤</div>
            <div class="display">≥</div>	
            <div class="display">±</div>	
            <div class="display">∞</div>
            <div class="display">/</div>	
            <div class="display">|</div>		
        </div>
    </div>
    <div class="characters--display math-symbols ads-grid ads-grid-6">
        <h2 class="characters--title">Punctuation</h2>
        <div class="characters--display-wrapper">
            <div class="display">.</div>	
            <div class="display">,</div>	
            <div class="display">:</div>	
            <div class="display">;</div>	
            <div class="display">…</div>	
            <div class="display">"</div>		
            <div class="display">'</div>	
            <div class="display">!</div>	
            <div class="display">¡</div>	
            <div class="display">?</div>	
            <div class="display">¿</div>
            <div class="display">&</div>	
            <div class="display">@</div>	
            <div class="display">#</div>
            <div class="display">^</div>	
            <div class="display">•</div>
            <div class="display">*</div>
            <div class="display">-</div>
            <div class="display">–</div>
            <div class="display">—</div>
            <div class="display">_</div>
            <div class="display">«</div>
            <div class="display">»</div>
            <div class="display"><</div>
            <div class="display">></div>
            <div class="display">/</div>
            <div class="display">\</div>
            <div class="display">[</div>
            <div class="display">]</div>
            <div class="display">{</div>
            <div class="display">}</div>
            <div class="display">(</div>
            <div class="display">)</div>
        </div>
    </div>
    <div class="characters--display currency ads-grid ads-grid-6">
        <h2 class="characters--title">Currency &amp; MISC</h2>
        <div class="characters--display-wrapper">
            <div class="display">$</div>	
            <div class="display">¢</div>	
            <div class="display">£</div>	
            <div class="display">¥</div>	
            <div class="display">€</div>	
            <div class="display">©</div>	
            <div class="display">®</div>	
            <div class="display">™</div>	
            <div class="display">¦</div>	
            <div class="display">§</div>
            <div class="display">ª</div>
            <div class="display">µ</div>
            <div class="display">¶</div>
            <div class="display">·</div>
            <div class="display">º</div>	
        </div>
    </div>
</div>

{% include 'try' %}

<script>
    $("#AvantSansPurchaseButton").click(function() {
        $('html, body').animate({
            scrollTop: $("#AvantSansPurchase").offset().top
        }, 2000);
    });
    $(".try-buy").click(function() {
        $('html, body').animate({
            scrollTop: $("#AvantSansPurchase").offset().top
        }, 2000);
    });
    $("#AvantSansTryButton").click(function() {
        $('html, body').animate({
            scrollTop: $("#AvantSansTry").offset().top
        }, 2000);
    });
</script>

