    <div class="hero">  {% comment %} style="background-image: url({{ 'avant_foundry-scattered-pattern.svg' | asset_url }})" {% endcomment %}
    <div class="ads-container" style="max-width: 1200px;">
        <div class="ads-grid ads-grid-12">
            <div class="hero-content">
                <h1>Say Hello — <br>Avant Sans</h1>
                <p class="subtitle">
                    The first and flagship variable font of Avant Foundry. Explore all the typeface's features and possibilities.
                </p>
                <div class="hero--cta mobile-hide">
                    <button class="contained primary" id="AvantSansPurchaseButton">Purchase Avant Sans</button>
                    <button id="AvantSansTryButton">Try out the typeface</button>
                </div>
                <div class="hero--cta mobile-show">
                    <a href="/#AvantSansPurchase"><button class="contained primary" id="AvantSansPurchaseButton">Purchase Avant Sans</button></a>
                    <a href="/#AvantSansTry"><button id="AvantSansTryButton">Try out the typeface</button></a>
                </div>
            </div>
        </div>
        <div class="ads-grid ads-grid-6 hero--image">
           <div class="wrapper-start">
                <span class="hero-a">Aa</span>
                <span class="hero-b">Bb</span>
                <span class="hero-c">Cc</span>
           </div>
           <div class="wrapper-end">
                <span class="hero-x">Xx</span>
                <span class="hero-y">Yy</span>
                <span class="hero-z">Zz</span> 
           </div>
        </div>
    </div>
</div>