<div class="avant-social">
    <a href="https://www.instagram.com/avantfoundry/" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>
    <a href="https://dribbble.com/Meloyski" target="_blank"><i class="fa fa-dribbble" ></i>Dribbble</a>
</div>