@mixin hero-variable($delay, $offsetY) {
    position: relative;
    top: $offsetY;
    @include font-weight(900);
    animation: variable linear 16s infinite  #{$delay}s;

    @keyframes variable {
        0%   {@include font-weight(900);}
        50%  {@include font-weight(100);}
        100%  {@include font-weight(900);}
    }
}


.hero {
    height: calc(100vh - 200px);
    min-height: 900px;
    position: relative;
    display: flex;
    align-items: center;
    color: $color--primary;
    overflow: hidden;
    .hero-content {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 600px;
    }
    h1 {
        font-size: 80px;
        line-height: 1;
        @media(max-width: 767px) {
            font-size: 48px;
        }
    }
    p {
        font-size: 24px;
    }
    button {
        font-size: 20px;
        height: 58px;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--cta {
        margin-top: 60px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        button {
            margin-right: 24px;
        }
        @media(max-width: 767px) {
            button {
                margin-top: 24px;
                margin-right: 0;
                width: 100%;
            }
        }
    }
    .hero--image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        z-index: 9;
        opacity: .08;
        top: 5%;
        left: 35%;
        & > div {
            width: 100%;
            display: flex;
            span {
                font-size: 300px;
                color: $color--blue;
            }
        }
        .wrapper-end {
            position: relative;
        }
        span {
            position: relative;
            &.hero-a {
                @include hero-variable(0, 0);
                transform: rotate(-24deg);
            }
            &.hero-b {
                @include hero-variable(.15, -100px);
                transform: rotate(32deg);
                top: 300px;
                left: -156px;
            }
            &.hero-c {
                @include hero-variable(.35, 100px);
                transform: rotate(14deg);
                left: -235px;
            }
            &.hero-x {
                @include hero-variable(0,0);
                transform: rotate(-5deg);
                top: 180px;
            }
            &.hero-y {
                @include hero-variable(.15,0);
                transform: rotate(24deg);
                top: 380px;
                left: 20px;
            }
            &.hero-z {
                @include hero-variable(.35, 0);
                transform: rotate(-24deg);
                top: 100px;
                left: -60px;
            }
        }
    }
    @media(max-width: 767px) {
        .ads-grid {
            width: 100% !important
        }
    }
}