$color--primary: #263145;
$color--blue: #0380e8;

@mixin font-weight($weight) {
  font-variation-settings: "wght" $weight;
}


body {
  margin: 0;
  font-family: 'AvantSansGX', 'AvantSans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

.password-signup {
  padding: 24px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;

  &__wrapper {
    max-width: 600px;
    width: 100%;
    position: relative;
    top: -50px;
  }

  h1 {
    margin: 24px 0;
    font-size: 80px;
    color: $color--primary;
    font-weight: bolder;
    line-height: 1;
    text-transform: uppercase;
    @include font-weight(900);
    @media(max-width: 767px) {
      font-size: 50px;
    }

  }
  p {
    margin: 0;
    line-height: 1.5;
    font-size: 20px;
    color: rgba($color--primary, .8);
    margin-bottom: 42px;
    @include font-weight(400);
    @media(max-width: 767px) {
      font-size: 18px;
    }
  }
}

.input-group {
  display: flex;
  width: 100%;

  input {
    width: 300px;
  }
  
  label {
    width: 100%;
    color:$color--blue;
    font-size: 12px;
  }
  .input-group {
    width: 100%;
    button {
      background: rgba($color--blue, .9);
      border-radius: 4px;
      color: white;
      padding: 0 32px;
      height: 48px;
      margin: 0;
      width: 100%;
      font-size: 16px;
      border: 1px solid rgba($color--blue, .9);
      transition: all .3s ease-in-out;
      &:hover {
        background: rgba($color--blue, 1);
        border: 1px solid rgba($color--blue, 1);
      }
    }
  }
}

button, .contained {
  width: 200px;
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  button {
    height: 48px;
    background-color: $color--blue;
    color: white;
    @include font-weight(500);
    padding: 0 36px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    &:hover {
      cursor: pointer;
    }
    @media(max-width: 767px) {
      width: 100%
    }
  }
}

h2 {
  color: rgba($color--primary, .8);
  font-size: 20px;
  @include font-weight(400);
  @media(max-width: 767px) {
    font-size: 18px;
  }
}

input {
  width: 300px;
  border: 1px solid rgba($color--primary, .5);
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  padding: 0 24px;
  margin: 0 16px 0 0;
  transition: .3s all ease-in-out;
  @media(max-width: 767px) {
    width: 100%;
    margin: 0 0 16px 0;
  }
  &:hover {
    border: 1px solid rgba($color--primary, 1);
    &::placeholder {
      color: rgba($color--primary, 1)
    }
  }
  &:focus {
    outline: $color--primary auto 0;
    &::placeholder {
      color: rgba($color--primary, 1)
    }
  }
  &::placeholder {
    color: rgba($color--primary, 1);
    transition: .3s all ease-in-out;
  }
}

@font-face {
  font-family: "AvantSans";
  src: url("../../assets/fonts/AvantSans-Regular.eot");
  src: url("../../assets/fonts/AvantSans-Regular.eot?#iefix")
      format("embedded-opentype"),
      url("../../assets/fonts/AvantSans-Regular.woff2") format("woff2"),
      url("../../assets/fonts/AvantSans-Regular.woff") format("woff"),
      url("../../assets/fonts/AvantSans-Regular.ttf") format("truetype"),
      url("../../assets/fonts/AvantSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvantSansGX";
  src: url("../../assets/fonts/AvantSansGX.woff2") format("woff2-variations");
  src: url("../../assets/fonts/AvantSansGX.woff2") format("woff2");
  font-weight: 100 900;
}
